<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">홈</a> |
            <a href="/profile">프로필</a>  |
            <a href="/map">찾아오시는길</a>  |
            <a href="/contact">문의하기</a> 
        </nav>
    </header>

    <section>
        <h2>Jerry의 홈페이지에 오신 걸 환영합니다.</h2>
    </section>
    
    <footer>
        copyright 제리 right reversed
    </footer>
</body>
</html>