<%- include('header.ejs')  %>

<section>
    <h4>내 프로필</h4>
    <ul>
        <li>이름: 김기용(jerry)</li>
        <li>이메일: jerry@spreatics.com</li>
        <li>주소: 마포구 염리동</li>
        
    </ul>
</section>

<%- include('footer.ejs')  %>